### Python provides several libraries and functions that are commonly used for data cleansing. Here are some example commands for performing common data cleansing tasks:

In [1]:
import pandas as pd

   # Read data from a CSV file

df = pd.read_csv('iris.csv')

   
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# Check for missing values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
# Drop rows with missing values

df=df.dropna(inplace=True)
df

In [9]:
 # Fill missing values with a specific value

df=df['sepal_length'].fillna(value, inplace=True)

TypeError: 'NoneType' object is not subscriptable

In [10]:
   # Fill missing values with the mean of the column

df['column'].fillna(df['column'].mean(), inplace=True)

TypeError: 'NoneType' object is not subscriptable

In [14]:
import pandas as pd



   # Read data from a CSV file

df = pd.read_csv('iris.csv')

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:

   # Check for duplicate rows

df=df.duplicated().sum()


df

3

In [17]:

   # Drop duplicate rows

df=df.drop_duplicates(inplace=True)

AttributeError: 'numpy.int64' object has no attribute 'drop_duplicates'

In [18]:
 #Data Transformation
    # Convert string column to numeric

   df['column'] = pd.to_numeric(df['column'], errors='coerce')



   # Convert string column to datetime

   df['column'] = pd.to_datetime(df['column'], format='%Y-%m-%d')



   # Remove leading/trailing whitespaces

   df['column'] = df['column'].str.strip()



   # Replace values in a column

   df['column'].replace(old_value, new_value, inplace=True)

IndentationError: unexpected indent (218352923.py, line 3)

In [19]:
#**Handling Outliers**:



   

   import pandas as pd

   import numpy as np



   # Read data from a CSV file

   df = pd.read_csv('data.csv')



   # Calculate z-scores for a numeric column

   z_scores = np.abs((df['column'] - df['column'].mean()) / df['column'].std())



   # Remove outliers based on z-scores

   df = df[z_scores < 3]



   # Replace outliers with a specific value

   df.loc[z_scores >= 3, 'column'] = replacement_value

SyntaxError: invalid syntax (1786322018.py, line 1)

### These commands demonstrate some common data cleansing operations using the Pandas library. However, the specific data cleansing tasks and techniques can vary depending on your dataset and requirements. It's important to carefully analyze your data, identify the cleansing steps needed, and apply the appropriate methods accordingly.